In [2]:
import pandas as pd
import numpy as np
import os

In [14]:
path=r'C:\Users\aditi\Desktop\Data Analytics_Career Foundry\Data Analytics_Immersion\Project 4\Instacart Basket Analysis'

In [16]:
# Import data set

df_ords_prior=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [21]:
df_ords_prior.shape

(32434489, 4)

In [29]:
df_ords=pd.read_csv(os.path.join(path, 'Data', 'Prepared data', 'orders_cleaned.csv'), index_col = False)

In [31]:
df_ords.shape

(3421083, 8)

In [33]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [35]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [38]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [40]:
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared data', 'orders_products_combined.pkl'))